@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", sans-serif !important;
}

.title {
    margin-top: 30px;
	 font-weight: bold;
	 font-size: 100px;
    text-align: center;
}